<section class="container">
    <div class="row">
        <div class="col-lg-12 text-left" id="articles">
            <ul>
                {{#each result}}
                    <li>
                        <h4>{{title}}</h4>
                        <p>{{summary}}</p>
                        <form action="/article/note/{{_id}}" method="POST" id="noteForm">
                            <textarea  type="text" name="body" value="{{_id}}" placeholder="enter notes here" id="note"></textarea>
                                <p>{{_id}}</p>
                            <button id="read"><a href={{link}} target="_blank">Read Article</a></button>
                            <button type="submit" class="{{_id}}" id="submit">Add Note</button>
                        </form>
                        <form action="/article/save/{{_id}}" method="POST">
                            {{#if keep}}
                                <input type="hidden" name="keep" value="true" {{keep}}="true">
                            {{else}}
                                <input type="hidden" name="keep"value="false" {{keep}}="false">
                            {{/if}}
                                <button id="save">{{#if keep}}Article Saved{{else}}Save Article{{/if}}</button>
                        </form>
                        <form action="/article/delete/{{_id}}" method="POST" id="form">
                            <button>Delete Article</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>